/*eSTILOS GENERALES DE LA PAGINA*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
    color: lightslategray;
}
header{
    background-color: rgb(71, 241, 65);
    color: white;
    text-align: center;
    padding: 20px;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px grey;
}
h2{
    color: rgb(15, 187, 9);
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    background-color: rgb(51, 97, 4);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}